.event__show {
  background-color: $bg-main;
  .event__info {
    padding: 0 1em 1em;
    table {
      border-collapse: collapse;
      margin: 0 auto;
      background-color: $bg-sub;
      tr {
        line-height: 2em;
        th {
          color: $h-sub;
          width: 8em;
        }
        td {
          color: $p-main;
          width: 14em;
        }
      }
    }
  }
  .entry__btn {
    padding-bottom: 1em;
    input {
      border: none;
      padding: 0.25em 0.5em;
      color: $btn-text-main;
      background: $btn-main;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
        0 2px 2px rgba(0, 0, 0, 0.19);
    }
  }
  h3 {
    color: $h-main;
    margin: 0;
    padding-top: 1em;
  }
  .border {
    margin: 0 auto;
    width: 16em;
    border-bottom: dotted 1px $p-main;
  }
}
