.event-index {
  background-color: $bg-main;
  .greeting {
    color: $p-main;
    margin: 0;
  }
  .sort__box {
    padding: 1.5em 0;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        background: transparent;
        appearance: button;
        margin-right: 1em;
        padding: 0.25em 0.5em;
        font-size: 0.8em;
        color: $p-sub;
        line-height: 1;
        border: outset 2px #ddd;
        background-color: $bg-sub;
        background: linear-gradient(#fff, #eee);
        background: -moz-linear-gradient(top, #fff, #eee);
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#fff),
          to(#eee)
        );
      }
      input {
        font-size: 0.8em;
        line-height: 1.2;
        border: none;
        padding: 0.25em 0.5em;
        color: $btn-text-main;
        background: $btn-main;
        border-radius: 2px;
        box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
          0 2px 2px rgba(0, 0, 0, 0.19);
      }
    }
  }

  .events__list {
    background-color: $bg-sub;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5em 0 0;
    margin: 0;
  }
}
