.user__signin {
  padding: 0.5em 0 2em 0;
  background-color: #fffbd6;
  .user__form {
    &__info {
      display: flex;
      margin: 2em auto;
      label.label_class {
        width: 40%;
      }
      input.input_class {
        width: 12em;
        margin-right: 1em;
      }
    }
    &__checkbox {
      margin: 2em auto 1em auto;
    }
    &__btn {
      .btn_sign_in {
        border: none;
        background-color: lightskyblue;
        color: dimgray;
        width: 10em;
        height: 2em;
        border-radius: 1%;
        margin: 0.5em auto;
      }
    }
  }
  a.link__sign_in {
    display: block;
    margin-top: 0.5em;
    line-height: 1.0em;
  }
}