.user-index {
  background-color: $bg-main;
  .greeting {
    color: $p-main;
    margin: 0;
    padding-bottom: 1em;
  }
  .users__list {
    background-color: $bg-sub;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 0;
    margin: 0;
  }
}
