.user__show {
  background-color:$bg-main;
  padding: 1em;
  .img_prev {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 0.6em solid $bg-sub;
    
  }
  table {
    border-collapse: collapse;
    margin: 0.5em auto 1em auto;
    background-color: $bg-sub;
    tr {
      line-height: 2em;
      th {
        color: $h-sub;
        width: 8em;
      }
      td {
        color: $p-main;
        width: 14em;
      }
      td.font_adjust {
        padding: 0.5em;
        line-height: 1.2em;
        font-size: 0.8em;
      }
    }
  }
  .btn_user_edit {
    border: none;
    padding: 0.25em 0.5em;
    color: $btn-text-main;
    background: $btn-main;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
      0 2px 2px rgba(0, 0, 0, 0.19);
  }
  .link_user_edit {
    display: block;
    margin-top: 1em;
    line-height: 1.0em;
    text-decoration: none;
    color: dimgray;
  }
}