.user__password_new {
  padding: 1em 0 2em 0;
  background-color: #fffbd6;
  .user__form {
    &__info {
      display: flex;
      align-items: center;
      flex-direction: column;
      label.label_class {
        margin: 1em auto 0.5em auto;
      }
      input.input_class {
        margin: 0.5em auto;
        width: 12em;
      }
      .btn_password_new {
        margin: 1em auto;
        border: none;
        background-color: lightskyblue;
        color: dimgray;
        width: 15em;
        height: 2em;
        border-radius: 1%;
      }
    }
  }
  .link__password_new {
    display: block;
    margin-top: 0.5em;
    line-height: 1.0em;
  }
}