- if @event.errors.any?
  #error_explanation
    .alert.alert-danger
      %h3= "#{@event.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
