- provide(:page_title, '募集中の案件一覧')

%p= "こんにちは #{current_user.last_name }さん" if user_signed_in?
= render 'layouts/event_index_card'
= will_paginate(@events, :renderer => WillPaginate::ActionView::LinkRenderer)
