#notice-message {
  background-color: $block-main;
  color: $highlight;
  padding: 0.5em;
  margin-bottom: 1em;
  p {
    margin: 0;
    padding: 0;
    &::before {
      content: "▼ ";
    }
    &::after {
      content: " ▼";
    }
  }
}
