// error_messages

.error_explanation {
  h3 {
    font-size: 0.7em;
    color: rgb(255, 78, 78);
  }
  li.error {
    font-size: 0.5em;
    margin: 0.5em auto;
    text-align: center;
  }
}

// header

header {
  background-color: none;
  height: 80px;
  padding: 0 20px;
  background-color: rgb(230, 255, 255);

  .header__title {
    h2 {
      font-size: 2em;
      color: #333333;
      margin: 0 auto;
      line-height: 80px;
    }
  }

  // hamburger_btn

  #wrapper {
    nav {
      position: fixed;
      top: 0;
      right: -220px;
      width: 220px;
      height: 100%;
      padding-top: 50px;
      background: #333;
      font-size: 16px;
      box-sizing: border-box;
      z-index: 2;

      ul li.menu {
        display: block;
        padding: 20px 28px;

        a {
          text-decoration: none;
          color: #ddd;
        }
      }
    }

    .btn-gnavi {
      position: fixed;
      top: 10px;
      right: 20px;
      width: 30px;
      height: 24px;
      z-index: 3;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: all 400ms;
      transition: all 400ms;

      span {
        position: absolute;
        width: 30px;
        height: 4px;
        background: #333;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 10px;
        }

        &:nth-child(3) {
          top: 20px;
        }
      }

      &.open span {
        background: #fff;
        width: 24px;
      }
    }

    .contents section {
      p {
        position: absolute;
        top: 50%;
        width: 30%;
        line-height: 1.4;
        font-size: 20px;
        color: #fff;
      }

      &:nth-child(odd) p {
        left: 10%;
      }

      &:nth-child(even) p {
        right: 10%;
      }
    }
  }
}

// main

main {
  text-align: center;

  // page_title

  h3.page_title {
    width: 220px;
    margin: 1em auto;
    position: relative;
    padding: 0.5em 0.5em 0.5em 1.5em;
    line-height: 1.2;
    color: #ff6a6a;
    border-top: dotted 1px gray;
    border-bottom: dotted 1px gray;
    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f138";
      font-weight: 900;
      position: absolute;
      font-size: 1em;
      left: 1.5em;
      top: 0.5em;
      color: #ff6a6a;
    }
  }
}

// event#index

.events__list {
  background: rgb(255, 251, 214);
  padding: 12px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    padding: 0;
    margin: 0;
  }
  .event__index-card {
    width: 300px;
    border: 2px double #ddd;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    position: relative;
    margin-bottom: 32px;
    &:hover {
      opacity: 0.7;
    }
    a.event-detail-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent: -999px;
    }
    h5 {
      margin: 0 auto;
      padding: 8px 0 8px 1em;
      background-color: #f1d0aa;
    }
    table {
      tr {
        line-height: 2;
        th {
          width: 18%;
          font-size: 0.7em;
          background-color: #f0efef;
          text-align: center;
        }
        td {
          width: 25%;
          font-size: 0.5em;
          p.no-margin {
            margin: 0;
            line-height: 1;
          }
        }
      }
    }
  }
}
// Pagination
.pagination {
  background-color: rgb(255, 251, 214);
  padding-bottom: 1em;
  span,
  a,
  em {
    padding-right: 1em;
  }
}

// user#index

.users__list {
  background: rgb(255, 251, 214);
  padding: 12px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    padding: 0;
    margin: 0;
  }
  .user__index-card {
    width: 250px;
    border: 2px double #ddd;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    position: relative;
    margin: 0 auto 1em;
    &:hover {
      opacity: 0.7;
    }
    a.user-detail-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent: -999px;
    }
    .user__card {
      display: flex;
      .user-image {
        width: 40%;
        margin: auto 0 auto 1em;
        img {
          vertical-align: middle;
          border-radius: 50%;
        }
      }
      .user-info {
        vertical-align: middle;
        text-align: center;
        width: 60%;
        p.name {
          line-height: 1.1;
          font-size: 1.2em;
        }
        p.score {
          line-height: 1.1;
          font-size: 1em;
          span {
            font-size: 1.3em;
            color: red;
          }
        }
      }
    }
  }
}

// event#new

.event__form-box {
  background: rgb(255, 251, 214);
  padding-top: 1em;
  ul {
    padding: 0 0 2em 0;
    margin-bottom: 0;
    margin-top: 0;
    .form {
      li.form {
        flex-wrap: wrap;
        margin: 2em auto;
        list-style: none;
        display: flex;
        text-align: center;
        position: relative;
        .label_class {
          width: 40%;
        }
        .input_class {
          width: 12em;
          margin-right: 1em;
        }
        .must {
          color: red;
          font-weight: bold;
        }
        p {
          font-size: 0.7em;
          margin: 0.3em auto 0;
        }
      }
      .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        .others__input {
          width: 18em;
          margin-top: 1em;
        }
      }
      .submit__btn {
        text-align: center;
      }
    }
  }
}

// footer

footer {
  text-align: center;
  background-color: rgb(180, 180, 180);
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 11px;
  p {
    margin: 0 auto;
  }
}
