// Background Color
$bg-main: #fffffe;
$bg-sub: #f9f4ef;

// Headline Color
$headline-main: #020826;

// Paragraph Calor
$p-main: #716040;
$p-highlight: #f25042;

// Button Color
$btn-main: #8c7851;
$btn-text-main: #fffffe;
$: ;
$: ;
$: ;
$: ;
$: ;
$: ;
$: ;
