// Base Main (White)
$bg-main: #fffffe;
$h-main: #020826;
$p-main: #716040;
$block-main: #eaddcf;

// Base Sub
$bg-sub: #f9f4ef;
$h-sub: #020826;
$p-sub: #716040;
$block-sub: #fffffe;

// Base Reverse
$bg-reverse: #8c7851;
$h-reverse: #fffffe;
$p-reverse: #020826;
$block-reverse: #eaddcf;

// Button Color
$btn-main: #8c7851;
$btn-text-main: #fffffe;

// Others
$highlight: #f25042;
