.events__list
  %ul
    %li.event__index-card.index-card
      %a.event-detail-link{ href: "#"}
      %h5.event__title
        イベントタイトルがここに入る
      %table
        %colgroup
          %col{ span: "1", class: "header"}
          %col{ span: "1", class: "content"}
        %colgroup
          %col{ span: "1", class: "header"}
          %col{ span: "1", class: "content"}
        %tr
          %th.header 勤務地
          %th.content 東京都
          %th.header ポジション
          %th.content 運営ディレクター
        %tr
          %th.header 日程
          %th.content 2020年10月11日
          %th.header 日給
          %th.content 25,000円
