.users__list
  %ul
    %li.user__index-card.index-card
      %a.user-detail-link{ href: "#"}
      .user__card
        .user-image
          = image_tag 'profile.png', alt: 'profile image', height: '80px', width: '80px', class: 'index__profile-image'
        .user-info
          %p.name 渡邉　大地
          %p.score
            評価：
            %span 4.5
